.container {
    max-width: 1120px;
    margin: 80px auto 0px;
}

.heading {
    color: var(--text-black, #1C2A39);
    font-size: 24px;
}

.buttonsContainer {
    border: 1px solid #EEEDF5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 176px;
    height: 45px;
}

.button {
    height: 100%;
    padding: 0px 15px;
}

.booksCount {
    color: #5C6A79;
    font-size: 16px;
    text-transform: uppercase;
}

.bookPrice {
    color: var(--text-black, #1C2A39);
    font-size: 18px;
    text-transform: uppercase;
}

.delivery {
    color: #5C6A79;
    font-size: 12px;
}

.noData {
    margin-top: 20px;
    color: var(--text-black, #1C2A39);
    font-size: 16px;
}

.totalPrice {
    margin-bottom: 20px;
    color: var(--text-black, #1C2A39);
    font-size: 24px;
    text-transform: uppercase;
}