@tailwind base;
@tailwind components;
@tailwind utilities;

.standartbtn {
  width: 176px;
  height: 45px;
  border: 1px solid #4C3DB2;
  color: #4C3DB2;
  background-color: #fff;

  color: #4C3DB2;
  font-size: 8px;
  text-transform: uppercase;
}

.standartbtn:hover {
  cursor: pointer;
  background-color: #c0b6ff4f;
  transition: 0.5s ease-in-out;
}

.standartbtn:active {
  background-color: #a091ff4f;
  transition: 0.1s ease-in-out;
}