.container {
    max-width: 1120px;
    margin: 120px auto 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading {
    color: var(--text-black, #1C2A39);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.input {
    border: 1px solid #4C3DB2;
    max-width: 600px;

    color: #4C3DB2;

    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-top: 9px;
    padding: 10px 9px;
}

.title {
    width: 176px;
    color: #000;

    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 15px;
}

#textarea {
    height: 100px;
    resize: none;
}

.buttons {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
}

.button {
    margin-top: 16px;

    width: 176px;
    height: 45px;
    border: 1px solid #4C3DB2;

    color: #4C3DB2;
    font-family: Montserrat;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.button:hover {
    background-color: #d5cefd4f;
    transition: 0.5s ease-in-out;
}

.button:active {
    background-color: #9f90f74f;
    transition: 0.1s ease-in-out;
}

.button_cancel {
    background-color: #e96e86;
}

.button_cancel:hover {
    background-color: #ff0032;
}

.error {
    margin-top: 10px;
    color: #ff0000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}