.container {
    max-width: 1120px;
    margin: 120px auto 0px;
    display: flex;
    justify-content: space-between;
}

.profile_title {
    color: var(--text-black, #1C2A39);
    font-size: 24px;
    text-transform: uppercase;
}

.info_img {
    display: flex;
}

.info_title, .info_data {
    color: #000;
}

.info_title {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.info_data {
    font-size: 24px;
    margin-bottom: 25px;
}

.button {
    margin-top: 16px;
    margin-right: 10px;

    width: 176px;
    height: 45px;
    border: 1px solid #4C3DB2;

    color: #4C3DB2;
    font-size: 8px;
    text-transform: uppercase;
}

.button:hover {
    background-color: #d5cefd4f;
    transition: 0.5s ease-in-out;
}

.button:active {
    background-color: #9f90f74f;
    transition: 0.1s ease-in-out;
}

.about_me {
    padding: 17px 28px;
    width: 353px;
    height: 345px;
    background: #FFE0E2;
    box-shadow: 10px 20px 15px rgba(99, 99, 99, 0.2);

    overflow: hidden;

    text-align: center;
}

.about_me_text {
    text-align: start;
    margin-top: 29px;

    color: #5C6A79;
    font-size: 12px;

}

.quitbutton {
    width: 150px;
    height: 45px;
    border: 1px solid #4C3DB2;
    background-color: rgba(255, 0, 0, 0.452);
}