.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    padding: 20px 5px;
    max-width: 1120px;
}

.header {
    background-color: rgba(255, 255, 255, 0.8);
    position: sticky;
    top: 0px;

    max-width: 1440px;
    margin: 0 auto;

    z-index: 10;
}

.container__name {
    color: #1C2A39;
    font-size: 24px;
}

.container__icons {
    width: 120px;
    display: flex;
    justify-content: space-between;
}

.icons:hover {
    cursor: pointer;
}

#icon_shopbag_cont {
    position: relative;
}

#icon_circle {
    position: absolute;
    top: 9px;
    right: -4px;

    display: none;
}

#icon_circle_num {
    color: #fff;
    font-size: 10px;
    line-height: normal;
    text-transform: capitalize;

    position: absolute;
    top: 2px;
}

#icon_circle.icon_circle_active {
    display: block;
}

.icon_circle_num1 {
    right: 5px;
}

.icon_circle_num10 {
    right: 3px;
}

.container__links {
    width: 372px;
}

.links__link {
    list-style-type: none;
}

#links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.links__link > a {
    color: var(--text-gray, #5C6A79);
    font-size: 10px;
    text-transform: uppercase;

    text-decoration: none;
}

.links__link_active > a {
    color: var(--text-black, #1C2A39);
}

.links__link_active {
    pointer-events: none;
}

#icon_user {
    position: relative;
}

.loginWindow {
    position: absolute;
    top: 50px;
    left: -100px;
    background: #FFF;
    width: 241px;
    height: max-content;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 17px 0px 36px;
}

.loginWindow:hover {
    cursor: default;
}

.loginHeading {
    color: var(--text-black, #1C2A39);
    font-size: 16px;
}

.loginText {
    width: 176px;
    color: #000;

    font-size: 12px;
    text-transform: capitalize;
    margin-top: 15px;
}

.loginInput {
    border: 1px solid #4C3DB2;
    width: 176px;
    height: 35px;

    color: #4C3DB2;

    font-size: 12px;
    text-transform: lowercase;

    margin-top: 9px;
    padding: 10px 9px;
}

.errMess {
    position: absolute;
    bottom: 125px;

    color: #FF353A;

    font-size: 8px;
}

.loginBtn {
    margin-top: 61px;
    width: 176px;
    height: 32px;
    background: #9E98DC;
    color: #FFF;

    font-size: 14px;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.loginBtn:hover {
    cursor: pointer;
    background: #6d64cc;
}

.changeBtn {
    margin-top: 10px;
    width: 150px;
    height: 20px;
    background: #e7e8f6;
    color: #000;

    font-size: 12px;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.changeBtn:hover {
    cursor: pointer;
    background: #b7b9d6;
}

.disabled {
    pointer-events: none;
}