.table {
    display: grid;
    gap: 3%;
    grid-template-columns: 40% 20% 15% 15%;
    margin-bottom: 65px;
    align-items: center;
}

.tableheading {
    display: grid;
    gap: 3%;
    grid-template-columns: 40% 20% 15% 15%;
    margin-bottom: 25px;
    margin-top: 20px;

    color: var(--text-gray, #5C6A79);
    font-size: 10px;
    text-transform: uppercase;
}